<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <p>RV Aster Hospital is in JP Nagar</p>
        {% block title1 %}
        <h1>Welcome to Our Website!</h1>
        {% endblock %}
        {% block anchortag1 %}
        <ol>
            <li><a href="{% url 'doctor1' %}">Doctor1</a></li>
            <li><a href="{% url 'doctor2' %}">Doctor2</a></li>
            <li><a href="{% url 'doctor3' %}">Doctor3</a></li>
        </ol>
        {% endblock %}
    </header>
    <main>
    </main>
    <footer>
        Confidential 2024
    </footer>
</body>
</html>