<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form method="POST" id="myform">
    {% csrf_token %}
    {{form.as_p}}   
    <button type="submit">Submit</button>
</form>
<div id="ajax-response"></div>
<script>
$(document)
.on('submit','#myform',function(e){
    e.preventDefault;
    var data1=$(this).serialize();
    $.ajax({
        type:'POST',
        url:'{% url "home2" %}',
        data:data1,
        success:function(data){
            $("#ajax-response").html(data);
        }
    });
});
</script>